## Data Encoding 
Converting the Categorical data into numerical data is called Data
## Three types of Encoding 
## 1 : Nominal / OHE Encoding

In [1]:
# Nominal Encoding

In [3]:
from sklearn.preprocessing import OneHotEncoder
import pandas as pd

In [4]:
# create a simple dataframe 
df = pd.DataFrame({
    'color':['red','blue','green','green','blue','red']
})

In [5]:
df

   color
0    red
1   blue
2  green
3  green
4   blue
5    red

In [13]:
encoder = OneHotEncoder()
encoded = encoder.fit_transform(df[['color']]).toarray()

In [17]:
encoded_df = pd.DataFrame(encoded,columns = encoder.get_feature_names_out())

In [18]:
encoded_df

   color_blue  color_green  color_red
0         0.0          0.0        1.0
1         1.0          0.0        0.0
2         0.0          1.0        0.0
3         0.0          1.0        0.0
4         1.0          0.0        0.0
5         0.0          0.0        1.0

In [20]:
encoder.transform([['blue']]).toarray()

C:\Users\Chandrahaas\AppData\Roaming\Python\Python311\site-packages\sklearn\utils\validation.py:2739: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

array([[1., 0., 0.]])

In [23]:
pd.concat([df,encoded_df],axis=1)

   color  color_blue  color_green  color_red
0    red         0.0          0.0        1.0
1   blue         1.0          0.0        0.0
2  green         0.0          1.0        0.0
3  green         0.0          1.0        0.0
4   blue         1.0          0.0        0.0
5    red         0.0          0.0        1.0

## Label Encoding

In [24]:
df.head()

   color
0    red
1   blue
2  green
3  green
4   blue

In [26]:
from sklearn.preprocessing import LabelEncoder

In [27]:
label_encoder = LabelEncoder()

In [28]:
label_encoder.fit_transform(df[['color']])

C:\Users\Chandrahaas\AppData\Roaming\Python\Python311\site-packages\sklearn\preprocessing\_label.py:110: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

array([2, 0, 1, 1, 0, 2])

In [29]:
# when ever i do for new values 
label_encoder.transform([['blue']])

C:\Users\Chandrahaas\AppData\Roaming\Python\Python311\site-packages\sklearn\preprocessing\_label.py:129: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, dtype=self.classes_.dtype, warn=True)

array([0])

In [33]:
label_encoder.transform([['green']])

C:\Users\Chandrahaas\AppData\Roaming\Python\Python311\site-packages\sklearn\preprocessing\_label.py:129: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, dtype=self.classes_.dtype, warn=True)

array([1])

In [32]:
label_encoder.transform([['red']])

C:\Users\Chandrahaas\AppData\Roaming\Python\Python311\site-packages\sklearn\preprocessing\_label.py:129: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, dtype=self.classes_.dtype, warn=True)

array([2])

## Disadvantage of LabelEncoding is 
In above case the value of red is greated than the green and blue ,
in certain cases if the model is getting the other values like green = 2 and red =1 and blue =0 , then the model gets confused from the labels

## Ordinal Encoding 
Ordinal Encoding is used to assign the ranks for each and evry catogorical values

In [46]:
from sklearn.preprocessing import OrdinalEncoder

In [47]:
df = pd.DataFrame({
    'size':['small','medium','large','medium','small','large']
})

In [48]:
df

     size
0   small
1  medium
2   large
3  medium
4   small
5   large

In [49]:
ordinal_encoder = OrdinalEncoder(categories=[['small','medium','large']])
ordinal_encoder.fit_transform(df[['size']])
# 0 is assigned to small
# 1 to medium
# 2 to large

array([[0.],
       [1.],
       [2.],
       [1.],
       [0.],
       [2.]])

In [50]:
# if i give a new value 
ordinal_encoder.transform([['small']])

C:\Users\Chandrahaas\AppData\Roaming\Python\Python311\site-packages\sklearn\utils\validation.py:2739: UserWarning: X does not have valid feature names, but OrdinalEncoder was fitted with feature names
  warnings.warn(

array([[0.]])

## Target Guided Ordinal Encoding 
It is a technique used to encode catgeorical variable based upon their relationship with target variable 
This technique is useful when we are having large number of unique catagries 

In this technoique we replace the each catageroy in the catagerical varaible with a numerical value based upon mean or median of the target variable for that category .

In [52]:
import pandas as pd
df = pd.DataFrame({
    'city':['NewYourk','London','Paris','Tokyo','NewYourk','Paris'],
    'price':[200,150,300,250,180,320]
})

In [53]:
df

       city  price
0  NewYourk    200
1    London    150
2     Paris    300
3     Tokyo    250
4  NewYourk    180
5     Paris    320

In [54]:
# Now we will cosider the price as target variabale and we will convert this ccity(catagorical data) based on target varible

In [57]:
mean_price = df.groupby('city')['price'].mean().to_dict()

In [72]:
mean_price

{'London': 150.0, 'NewYourk': 190.0, 'Paris': 310.0, 'Tokyo': 250.0}

In [76]:
df['city_encoded'] = df['city'].map(mean_price)  # with respect to city we are mapping, we are mapping the mean_prices of all the catagorial datpoints to a new feature called city_encoded

In [77]:
df

       city  price  city_encoded
0  NewYourk    200         190.0
1    London    150         150.0
2     Paris    300         310.0
3     Tokyo    250         250.0
4  NewYourk    180         190.0
5     Paris    320         310.0

In [79]:
df[['city_encoded','price']] # we are using only city_encoded and price , no need of city , as we have converted to numerical value

   city_encoded  price
0         190.0    200
1         150.0    150
2         310.0    300
3         250.0    250
4         190.0    180
5         310.0    320